<p id="notice"><%= notice %></p>

<h1>Lista Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Id assignment</th>
      <th>Id taxi</th>
      <th>Id travel</th>
      <th>Status</th>
      <th>Id user operator</th>
      <th>Id customer</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.id_assignment %></td>
        <td><%= assignment.id_taxi %></td>
        <td><%= assignment.id_travel %></td>
        <td><%= assignment.status %></td>
        <td><%= assignment.id_user_operator %></td>
        <td><%= assignment.id_customer %></td>
        <td><%= assignment.username %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
