<p id="notice"><%= notice %></p>

<h1>Listing Rates</h1>

<table>
  <thead>
    <tr>
      <th>Id rate</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.id_rate %></td>
        <td><%= rate.origin %></td>
        <td><%= rate.destination %></td>
        <td><%= rate.amount %></td>
        <td><%= link_to 'Show', rate %></td>
        <td><%= link_to 'Edit', edit_rate_path(rate) %></td>
        <td><%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate', new_rate_path %>
