<p id="notice"><%= notice %></p>

<p>
  <strong>Id rate:</strong>
  <%= @rate.id_rate %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @rate.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @rate.destination %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @rate.amount %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
