<%= form_for(@taxi) do |f| %>
  <% if @taxi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taxi.errors.count, "error") %> prohibited this taxi from being saved:</h2>

      <ul>
      <% @taxi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_taxi %><br>
    <%= f.number_field :id_taxi %>
  </div>
  <div class="field">
    <%= f.label :type_taxi %><br>
    <%= f.number_field :type_taxi %>
  </div>
  <div class="field">
    <%= f.label :number_seats %><br>
    <%= f.number_field :number_seats %>
  </div>
  <div class="field">
    <%= f.label :id_driver %><br>
    <%= f.number_field :id_driver %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
