<p id="notice"><%= notice %></p>

<p>
  <strong>Type taxi:</strong>
  <%= @taxi.type_taxi %>
</p>

<p>
  <strong>Numbre seats:</strong>
  <%= @taxi.numbre_seats %>
</p>

<p>
  <strong>Date create:</strong>
  <%= @taxi.date_create %>
</p>

<p>
  <strong>Date update:</strong>
  <%= @taxi.date_update %>
</p>

<%= link_to 'Edit', edit_taxi_path(@taxi) %> |
<%= link_to 'Back', taxis_path %>
