<p id="notice"><%= notice %></p>

<p>
  <strong>Id taxi:</strong>
  <%= @taxi.id_taxi %>
</p>

<p>
  <strong>Type taxi:</strong>
  <%= @taxi.type_taxi %>
</p>

<p>
  <strong>Number seats:</strong>
  <%= @taxi.number_seats %>
</p>

<p>
  <strong>Id driver:</strong>
  <%= @taxi.id_driver %>
</p>

<p>
  <strong>Status:</strong>
  <%= @taxi.status %>
</p>

<%= link_to 'Edit', edit_taxi_path(@taxi) %> |
<%= link_to 'Back', taxis_path %>
